@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#text {
    font-family: "Montserrat", Arial;
    font-size: 3vw;
    color: rgb(13, 202, 240);
    background: -webkit-linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#author {
    font-family: "Kaushan Script", Helvetica;
    font-size: 2vw;
    margin-top: 2vh;
    color: rgb(13, 202, 240);
    background: -webkit-linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#root-div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

#quote-box {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;    
    background-color: white;
    border-radius: 4%;
    width: 60%;
    height: 60vh;
    padding: 0 2vw 0 2vw;
}

#buttons-div {
    background-color: white;
    display: flex;
    width: 20vw;
    justify-content:space-evenly;
    margin-top:2vw;
}

button {
    width: 7vw;
    height: 5vh;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
    #quote-box {
        width: 90%;
        height: 35vh;
        padding: 0 2vw 0 2vw;
    }

    #text {
        font-size: 6vw;
    }

    #author {
        font-size: 4vw;
    }

    button {
        width: 25vw;
        height: 4vh;
    }

    #buttons-div {
        width: 65vw;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #quote-box {
        width: 80%;
        height: 55vh;
        padding: 0 2vw 0 2vw;
    }

    #text {
        font-size: 5vw;
    }

    #author {
        font-size: 4vw;
    }

    button {
        width: 15vw;
        height: 6vh;
    }
    #buttons-div {
        width: 40vw;
    }
}
